<div class="row g-5 g-xl-10">
  <div class="col-xl-4 mb-xl-10">
    <div class="card card-flush h-xl-100">
      <div class="card-body d-flex flex-column flex-center">  
        <div class="mb-2">
          <h2 class="fw-semibold text-gray-800 text-center lh-lg">           
            xin hãy <span class="fw-bolder">ĐÓNG GÓP Ý KIẾN</span> để ứng dụng hoàn thiện hơn!
          </h2>
          <div class="py-10 text-center">
            <img src="<%= asset_path("media/svg/illustrations/easy/2.svg") %>" class="theme-light-show w-200px" alt="">
            <img src="<%= asset_path("media/svg/illustrations/easy/2-dark.svg") %>" class="theme-dark-show w-200px" alt="">
          </div>
        </div>
        <div class="text-center mb-1"> 
          <a class="btn btn-sm btn-primary me-2" href="/">Góp ý 
            <i class="ki-duotone ki-send">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-8 mb-5 mb-xl-10">
    <div
      class="card card-flush h-md-100 bgi-position-y-bottom bgi-position-x-end bgi-no-repeat bgi-size-cover min-h-250px bg-primary mb-5 mb-xl-8"
      style="
        background-position: 100% 165px;
        background-size: 500px auto;
        background-image: url('<%= asset_path("media/misc/city.png") %>');
      "
      dir="ltr">
    </div>
  </div>
</div>