<div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
  <div class="d-flex align-items-center flex-wrap">
    <h2 class="fw-semibold my-1">
      Phương pháp học được đóng góp
    </h2>
    <span class="badge badge-light-danger my-1">tham khảo</span>
  </div>
  <div class="d-flex">
    <a href="#" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-bs-toggle="tooltip" data-bs-placement="top">
      <i class="ki-outline ki-arrow-up-down fs-2 m-0"></i>
    </a>
  </div>
</div>

<div class="separator my-6"></div>
<div data-kt-inbox-message="message_wrapper">
  <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer" data-kt-inbox-message="header">
    <div class="d-flex align-items-center">
      <div class="symbol symbol-50 me-4">
        <span class="symbol-label" style="background-image: url(<%= asset_path("media/avatars/blank.png") %>);"></span>
      </div>
      <div class="pe-5">
        <div class="d-flex align-items-center flex-wrap gap-1">
          <a href="#" class="fw-bold text-dark text-hover-primary">Quản trị viên</a>
          <i class="ki-outline ki-abstract-8 fs-7 text-success mx-3"></i>
          <span class="text-muted fw-bold">2 days ago</span>
        </div>
        <div class="text-muted fw-semibold mw-400px" data-kt-inbox-message="preview">
          Jornalists call this critical, introductory
          section the "Lede," and when bridge properly
          executed....
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center flex-wrap gap-2">
      <span class="fw-semibold text-muted text-end me-8">24 Jun 2023, 11:30 am</span>
      <div class="d-flex">
        <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-4" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Đồng tình">
          <span class="me-1 fs-7 text-warning pt-1">10</span>
          <i class="ki-outline ki-like fs-2 text-warning m-0"></i> 
        </a>
        <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-4" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Không đồng tình">
          <i class="ki-outline ki-dislike fs-2 text-warning m-0"></i>
          <span class="me-1 fs-7 text-warning">10</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="separator my-6"></div>
<div data-kt-inbox-message="message_wrapper">
  <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer" data-kt-inbox-message="header">
    <div class="d-flex align-items-center">
      <div class="symbol symbol-50 me-4">
        <span class="symbol-label" style="background-image: url(<%= asset_path("media/avatars/blank.png") %>);"></span>
      </div>
      <div class="pe-5">
        <div class="d-flex align-items-center flex-wrap gap-1">
          <a href="#" class="fw-bold text-dark text-hover-primary">Quản trị viên</a>
          <i class="ki-outline ki-abstract-8 fs-7 text-success mx-3"></i>
          <span class="text-muted fw-bold">2 days ago</span>
        </div>
        <div class="text-muted fw-semibold mw-400px" data-kt-inbox-message="preview">
          Jornalists call this critical, introductory
          section the "Lede," and when bridge properly
          executed....
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center flex-wrap gap-2">
      <span class="fw-semibold text-muted text-end me-8">24 Jun 2023, 11:30 am</span>
      <div class="d-flex">
        <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-4" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Đồng tình">
          <span class="me-1 fs-7 text-warning pt-1">10</span>
          <i class="ki-outline ki-like fs-2 text-warning m-0"></i> 
        </a>
        <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-4" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Không đồng tình">
          <i class="ki-outline ki-dislike fs-2 text-warning m-0"></i>
          <span class="me-1 fs-7 text-warning">10</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="separator my-6"></div>
<div data-kt-inbox-message="message_wrapper">
  <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer" data-kt-inbox-message="header">
    <div class="d-flex align-items-center">
      <div class="symbol symbol-50 me-4">
        <span class="symbol-label" style="background-image: url(<%= asset_path("media/avatars/blank.png") %>);"></span>
      </div>
      <div class="pe-5">
        <div class="d-flex align-items-center flex-wrap gap-1">
          <a href="#" class="fw-bold text-dark text-hover-primary">Quản trị viên</a>
          <i class="ki-outline ki-abstract-8 fs-7 text-success mx-3"></i>
          <span class="text-muted fw-bold">2 days ago</span>
        </div>
        <div class="text-muted fw-semibold mw-400px" data-kt-inbox-message="preview">
          Jornalists call this critical, introductory
          section the "Lede," and when bridge properly
          executed....
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center flex-wrap gap-2">
      <span class="fw-semibold text-muted text-end me-8">24 Jun 2023, 11:30 am</span>
      <div class="d-flex">
        <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-4" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Đồng tình">
          <span class="me-1 fs-7 text-warning pt-1">10</span>
          <i class="ki-outline ki-like fs-2 text-warning m-0"></i> 
        </a>
        <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-4" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Không đồng tình">
          <i class="ki-outline ki-dislike fs-2 text-warning m-0"></i>
          <span class="me-1 fs-7 text-warning">10</span>
        </a>
      </div>
    </div>
  </div>
</div>