<div class="row g-5 g-xl-10">
  <div class="col-xl-12 mb-5 mb-xl-12">
    <div class="card card-flush h-md-100">
      <div class="card-header pt-7">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bold text-gray-800">Nhập Kanji bạn muốn tạo</span>
          <span class="text-gray-400 mt-1 fw-semibold fs-6">
            Phân tách chúng bằng dấu - : ví dụ (練-習-漢-字)
          </span>
        </h3>
      </div>
      <div class="card-body">
        <%= render "demo" %>
        <%= simple_form_for @record, html: { id: "form-create-record", data: { turbo: false } } do |f| %>
          <div class="nav nav-pills nav-pills-custom mb-3">
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="option" checked="checked"  id="kt_radio_buttons_2_option_1"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center mb-5" for="kt_radio_buttons_2_option_1">
                <i class="ki-duotone ki-brush fs-1 me-4"><span class="path1"></span><span class="path2"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">Tùy chọn</span>
                </span>
              </label>
            </div>
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="hiragana" id="kt_radio_buttons_2_option_2"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center" for="kt_radio_buttons_2_option_2">
                <i class="ki-duotone ki-message-text-2 fs-1 me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">Hiragana</span>
                </span>
              </label>
            </div>
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="katakana" id="kt_radio_buttons_2_option_3"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center" for="kt_radio_buttons_2_option_3">
                <i class="ki-duotone ki-notepad fs-1 me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">Katakana</span>
                </span>
              </label>
            </div>
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="sub_kanji" id="kt_radio_buttons_2_option_4"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center" for="kt_radio_buttons_2_option_4">
                <i class="ki-duotone ki-notepad fs-1 me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">214 Bộ thủ</span>
                </span>
              </label>
            </div>
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="kanji_n5" id="kt_radio_buttons_2_option_5"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center" for="kt_radio_buttons_2_option_5">
                <i class="ki-duotone ki-notepad fs-1 me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">Kanji N5</span>
                </span>
              </label>
            </div>
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="kanji_n4" id="kt_radio_buttons_2_option_6"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center" for="kt_radio_buttons_2_option_6">
                <i class="ki-duotone ki-notepad fs-1 me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">Kanji N4</span>
                </span>
              </label>
            </div>
            <div class="nav-item nav-item mb-3 me-3 me-lg-6">
              <input type="radio" class="btn-check" name="record[type_record]" value="kanji_n3" id="kt_radio_buttons_2_option_7"/>
              <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-5 d-flex align-items-center" for="kt_radio_buttons_2_option_7">
                <i class="ki-duotone ki-notepad fs-1 me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-6">Kanji N3</span>
                </span>
              </label>
            </div>
          </div>
          <div class="form-floating mb-5">
            <%= f.input :kanji_list, as: :text,
              input_html: {
                value: f.object.kanji_list, id: "floatingTextarea1", placeholder: "Nhập Kanji",
                autocomplete: "off", class: "form-control form-control-solids",
                rows: 4 }, label: false %>
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="record-title">
              <i class="ki-duotone ki-crown-2 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            </span>
            <input type="text" name="record[title]" autocomplete="off" class="form-control" placeholder="Dấu ấn cá nhân" value="luyenkanji.com | @thocodehoctiengnhat" aria-label="title" aria-describedby="record-title"/>
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="ki-duotone ki-click fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
            Tạo bản nháp
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>