<div class="row g-5 g-xl-10">
  <div class="col-xl-4 mb-xl-10">
    <div
      id="kt_sliders_widget_7_slider"
      class="card card-flush carousel carousel-custom carousel-light-dots carousel-stretch slide h-xl-100"
      data-bs-ride="carousel"
      data-bs-interval="5000"
      style="background-color: #ffe896"
      data-bs-theme="light">
      <div class="card-header align-items-center pt-7">
        <h4 class="card-label fw-bold text-gray-800 m-0">
          Hệ thống học tập
        </h4>
        <div class="card-toolbar">
          <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-dark">
            <li data-bs-target="#kt_sliders_widget_7_slider" data-bs-slide-to="0" class="active ms-1"></li>
            <li data-bs-target="#kt_sliders_widget_7_slider" data-bs-slide-to="1" class="ms-1" ></li>
            <li data-bs-target="#kt_sliders_widget_7_slider"
              data-bs-slide-to="2"
              class="ms-1" ></li>
          </ol>
        </div>
      </div>
      <div class="card-body pt-3">
        <div class="carousel-inner">
          <div class="carousel-item active show">
            <div class="d-flex align-items-center">
              <div class="w-80px flex-shrink-0 me-2">
                <div
                  class="min-h-auto ms-n3"
                  id="kt_slider_widget_7_chart_1"
                  style="height: 100px"
                ></div>
              </div>
              <div class="m-0">
                <h5 class="fw-bold text-gray-800 mb-3">
                  Kanji
                </h5>
                <div class="d-flex d-grid gap-5">
                  <div class="d-flex flex-column flex-shrink-0 me-4">
                    <span class="d-flex align-items-center fs-7 fw-bold text-gray-600 mb-2">
                      <i class="ki-outline ki-right-square fs-6 text-gray-600 me-2"></i>214 bộ thủ
                    </span>
                    <span class="d-flex align-items-center text-gray-600 fw-bold fs-7">
                      <i class="ki-outline ki-right-square fs-6 text-gray-600 me-2"></i>2500 hán tự
                    </span>
                  </div>
                  <div class="d-flex flex-column flex-shrink-0">
                    <span class="d-flex align-items-center fs-7 fw-bold text-gray-600 mb-2">
                      <i class="ki-outline ki-right-square fs-6 text-gray-600 me-2"></i>Âm on, âm kun đi kèm
                      </span>
                    <span class="d-flex align-items-center text-gray-600 fw-bold fs-7">
                      <i class="ki-outline ki-right-square fs-6 text-gray-600 me-2"></i>Âm hán và nghĩa
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center">
              <div class="w-80px flex-shrink-0 me-2">
                <div
                  class="min-h-auto ms-n3"
                  id="kt_slider_widget_7_chart_2"
                  style="height: 100px"
                ></div>
              </div>
              <div class="m-0">
                <h5 class="fw-bold text-gray-800 mb-3">
                  Bảng chữ cái
                </h5>
                <div class="d-flex d-grid gap-5">
                  <div
                    class="d-flex flex-column flex-shrink-0 me-4"
                  >
                    <span
                      class="d-flex align-items-center fs-7 fw-bold text-gray-600 mb-2"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >Hiragana</span
                    >
                    <span
                      class="d-flex align-items-center text-gray-600 fw-bold fs-7"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >Katakana</span
                    >
                  </div>
                  <div
                    class="d-flex flex-column flex-shrink-0"
                  >
                    <span
                      class="d-flex align-items-center fs-7 fw-bold text-gray-600 mb-2"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >Âm đơn</span
                    >
                    <span
                      class="d-flex align-items-center text-gray-600 fw-bold fs-7"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >Âm ghép</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center">
              <div class="w-80px flex-shrink-0 me-2">
                <div
                  class="min-h-auto ms-n3"
                  id="kt_slider_widget_7_chart_3"
                  style="height: 100px"
                ></div>
              </div>
              <div class="m-0">
                <h5 class="fw-bold text-gray-800 mb-3">
                  Bảng chữ số
                </h5>
                <div class="d-flex d-grid gap-5">
                  <div
                    class="d-flex flex-column flex-shrink-0 me-4"
                  >
                    <span
                      class="d-flex align-items-center fs-7 fw-bold text-gray-600 mb-2"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >1 2 3</span
                    >
                    <span
                      class="d-flex align-items-center text-gray-600 fw-bold fs-7"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >4 5 6</span
                    >
                  </div>
                  <div
                    class="d-flex flex-column flex-shrink-0"
                  >
                    <span
                      class="d-flex align-items-center fs-7 fw-bold text-gray-600 mb-2"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >7 8 9</span
                    >
                    <span
                      class="d-flex align-items-center text-gray-600 fw-bold fs-7"
                    >
                      <i
                        class="ki-outline ki-right-square fs-6 text-gray-600 me-2"
                      ></i
                      >0</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 mb-5 mb-xl-10">
    <div class="card card-custom bg-body border-0 h-md-100">
      <div class="card-body d-flex justify-content-center flex-wrap ps-xl-15 pe-0">
        <div class="flex-grow-1 mt-2 me-9 me-md-0">
          <div class="position-relative text-gray-800 fs-1 z-index-2 fw-bold mb-5">
            Nâng cấp tài khoản
          </div>
          <span class="text-gray-600 fw-semibold fs-6 mb-6 d-block">
            Thêm nhiều tiện ích, thêm nhiều kỹ năng <br />giúp trải nghiệm học tập tốt hơn, <br />
            <span class="text-success">giảm 50% khi đăng ký bằng email edu.</span>
          </span>

          <div class="mb-7">
            <a
              href="https://luyenkanji.com/"
              class="btn btn-sm btn-success fw-semibold me-2 d-flex w-125px justify-content-between align-items-start"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_upgrade_plan"
              >
              <span class="pt-1">Nâng cấp</span> 
              <i class="ki-duotone ki-crown-2 text-white fs-2">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>  
            </a>
          </div>
        </div>
        <img
          src="<%= asset_path("media/illustrations/misc/credit-card.png") %>"
          class="h-175px me-15"
          alt=""
        />
      </div>
    </div>
  </div>
</div>