<div class="d-flex flex-column flex-column-fluid">
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
      <%= render "upgrade" %>
      <%= render "form" %>
      <%= render "adsen" %>
      <%= render "history" %>
    </div>
  </div>
</div>
