<div class="grid-background-target">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100"
    height="100"
    class="grid-background-target"
  >
    <line x1="0" y1="0" x2="100" y2="100" stroke="#DDD" />
    <line x1="100" y1="0" x2="0" y2="100" stroke="#DDD" />
    <line x1="50" y1="0" x2="50" y2="100" stroke="#DDD" />
    <line x1="0" y1="50" x2="100" y2="50" stroke="#DDD" />
    <line x1="0" y1="0" x2="100" y2="0" stroke="#DDD" />
    <line x1="0" y1="0" x2="0" y2="100" stroke="#DDD" />
    <line x1="100" y1="0" x2="100" y2="100" stroke="#DDD" />
    <line x1="100" y1="100" x2="0" y2="100" stroke="#DDD" />
  </svg>
</div>