<div
  class="modal fade"
  id="kt_modal_upgrade_plan"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content rounded">
      <div class="modal-header justify-content-end border-0 pb-0">
        <div
          class="btn btn-sm btn-icon btn-active-color-primary"
          data-bs-dismiss="modal"
        >
          <i class="ki-outline ki-cross fs-1"></i>
        </div>
      </div>
      <div class="modal-body pt-0 pb-15 px-5 px-xl-20">
        <div class="mb-13 text-center">
          <h1 class="mb-3">Nâng cấp tài khoản</h1>
          <div class="text-muted fw-semibold fs-5">
            Nếu có thắc mắc và muốn giải đáp
            <a href="#" class="link-primary fw-bold">vui lòng liên hệ tôi</a>.
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="row mt-10">
            <div class="col-lg-6 mb-10 mb-lg-0">
              <div class="nav flex-column">
                <label
                  class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active btn-active-primary d-flex flex-stack text-start p-6 active mb-6"
                  data-bs-toggle="tab"
                  data-bs-target="#kt_upgrade_plan_startup"
                >
                  <div class="d-flex align-items-center me-2">
                    <div
                      class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6"
                    >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="plan"
                        checked="checked"
                        value="startup"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <div
                        class="d-flex align-items-center fs-2 fw-bold flex-wrap"
                      >
                        Miễn phí
                      </div>
                      <div class="fw-semibold opacity-75">
                        Bản mềm luyện viết Hiragana, Katakana, Bộ thủ
                      </div>
                    </div>
                  </div>
                  <div class="ms-5">
                    <span
                      class="fs-2x fw-bold"
                      data-kt-plan-price-month="0"
                      >0</span
                    >
                    <span class="mb-2">vnđ</span>
                  </div>
                </label>
                <label
                  class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active btn-active-primary d-flex flex-stack text-start p-6 mb-6"
                  data-bs-toggle="tab"
                  data-bs-target="#kt_upgrade_plan_advanced"
                >
                  <div class="d-flex align-items-center me-2">
                    <div
                      class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6"
                    >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="plan"
                        value="advanced"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <div
                        class="d-flex align-items-center fs-2 fw-bold flex-wrap"
                      >
                        Cơ bản
                      </div>
                      <div class="fw-semibold opacity-75">
                        10 Lượt tải xuống
                      </div>
                    </div>
                  </div>
                  <div class="ms-5">
                    <span
                      class="fs-2x fw-bold"
                      data-kt-plan-price-month="100.000"
                      >100.000</span
                    >
                    <span class="mb-2">vnđ</span>

                  </div>
                </label>
                <label
                  class="nav-link btn btn-outline btn-outline-dashed btn-color-dark btn-active btn-active-primary d-flex flex-stack text-start p-6 mb-6"
                  data-bs-toggle="tab"
                  data-bs-target="#kt_upgrade_plan_enterprise"
                >
                  <div class="d-flex align-items-center me-2">
                    <div
                      class="form-check form-check-custom form-check-solid form-check-success flex-shrink-0 me-6"
                    >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="plan"
                        value="enterprise"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <div
                        class="d-flex align-items-center fs-2 fw-bold flex-wrap"
                      >
                        Nâng Cao
                        <span
                          class="badge badge-light-success ms-2 py-2 px-3 fs-7"
                          >Khuyên dùng</span
                        >
                      </div>
                      <div class="fw-semibold opacity-75">
                        Sử dụng tất cả các tiện ích vĩnh viễn
                      </div>
                    </div>
                  </div>
                  <div class="ms-5">
                    <span
                      class="fs-2x fw-bold"
                      data-kt-plan-price-month="399.000"
                      >399.000</span
                    >
                    <span class="mb-2">vnđ</span>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tab-content rounded h-100 bg-light p-10">
                <div
                  class="tab-pane fade show active"
                  id="kt_upgrade_plan_startup"
                >
                  <div class="pb-5">
                    <h2 class="fw-bold text-dark">
                      Miễn phí có những gì?
                    </h2>
                    <div class="text-muted fw-semibold">
                      Bản mềm luyện viết hiragana, katakana, 214 bộ thủ
                    </div>
                  </div>
                  <div class="pt-1">
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Hiragana</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Katakana</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm 214 Bộ thủ</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Cấu tạo từng nét Kanji</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>

                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-muted flex-grow-1"
                        >Tùy chọn kanji đang yếu</span
                      >
                      <i class="ki-outline ki-cross-circle fs-1"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-muted flex-grow-1"
                        >Bản mềm Kanji N5, 4, 3, 2, 1</span
                      >
                      <i class="ki-outline ki-cross-circle fs-1"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-muted flex-grow-1"
                        >Bỏ hiển thị bản quyền trên bản mềm</span
                      >
                      <i class="ki-outline ki-cross-circle fs-1"></i>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="fw-semibold fs-5 text-muted flex-grow-1"
                        >Sử dụng dịch của Chat-GPT 4.0</span
                      >
                      <i class="ki-outline ki-cross-circle fs-1"></i>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="kt_upgrade_plan_advanced">
                  <div class="pb-5">
                    <h2 class="fw-bold text-dark">
                      Gói cơ bản có những gì?
                    </h2>
                    <div class="text-muted fw-semibold">
                      10 lượt tải xuống bản mềm
                    </div>
                  </div>
                  <div class="pt-1">
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Hiragana</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Katakana</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm 214 Bộ thủ</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Cấu tạo từng nét Kanji</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>

                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Tùy chọn kanji đang yếu</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Kanji N5, 4, 3, 2, 1</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bỏ hiển thị bản quyền trên bản mềm</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-muted flex-grow-1"
                        >Tùy chỉnh hiển thị bản quyền trên bản mềm</span
                      >
                      <i class="ki-outline ki-cross-circle fs-1"></i>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="fw-semibold fs-5 text-muted flex-grow-1"
                        >Sử dụng dịch bằng Chat-GPT 4.0</span
                      >
                      <i class="ki-outline ki-cross-circle fs-1"></i>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="kt_upgrade_plan_enterprise">
                  <div class="pb-5">
                    <h2 class="fw-bold text-dark">
                      Gói nâng cao có những gì?
                    </h2>
                    <div class="text-muted fw-semibold">
                      Tùy chọn hơn 2500 hán tự, dịch Việt-Nhật, Nhật-Việt bằng Chat-GPT 4.0 
                    </div>
                  </div>
                  <div class="pt-1">
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Hiragana</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Katakana</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span
                        class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm 214 Bộ thủ</span
                      >
                      <i
                        class="ki-outline ki-check-circle fs-1 text-success"
                      ></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Cấu tạo từng nét Kanji</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>

                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Tùy chọn kanji đang yếu</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bản mềm Kanji N5, 4, 3, 2, 1</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Bỏ hiển thị bản quyền trên bản mềm</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Tùy chỉnh hiển thị bản quyền trên bản mềm</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="fw-semibold fs-5 text-gray-700 flex-grow-1"
                        >Sử dụng dịch bằng Chat-GPT 4.0</span
                      >
                      <i class="ki-outline ki-check-circle fs-1 text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-center flex-row-fluid pt-12">
          <button
            type="reset"
            class="btn btn-light me-3"
            data-bs-dismiss="modal"
          >
            Hủy bỏ
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            id="kt_modal_upgrade_plan_btn"
          >
            <span class="indicator-label">Nâng cấp ngay</span>
            <span class="indicator-progress"
              >Please wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
