.record_title {
  width: calc(100% - 50px);

  input {
    border-radius: 0 0.85rem 0.85rem 0;
    height: 100%;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.kj-line span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  height: 80px;
  margin-left: -2px;
  margin-top: -1px;
}
